@page "/CustomerActiveReservation/{email}"
@using HttpClients.ClientInterfaces
@using Domain.Models

@inject NavigationManager navMgr
@inject IReservationService _reservationService; 

<link rel="stylesheet" href="_content/Radzen.Blazor/css/default.css"/>


<h3 style="text-align: center">Active reservation</h3>
 
<style>
    .reservation_table{
        font-size:  20px;
        width: 70%;
        margin-left:  auto;
        margin-right:  auto;
        overflow: hidden;
    }
    
    .reservation_table thead{
        border-right: 1px solid lightskyblue;
    }
    
    .reservation_table thead:last-child
    {
        border-right:  none;
    }
    
    .reservation_table thead tr{
        background-color: lightblue;
        color:  white;
        font-weight: bold;
        text-align:  left;
    }
    
    .reservation_table th,
    .reservation_table td{
        padding:  5px 5px 5px 5px;
    }
    
    .reservation_table tbody tr
    {
        border-bottom:  1px solid lightblue;
    }
    
    .reservation_table tbody tr:hover{
        font-weight: bold;
        color:  lightskyblue ;
        cursor: pointer;
    }
</style>


<div class="reservations">
    <div class="reservation_container">
        <div class="reservation">
            <table class="reservation_table">
                <thead>
                <tr>
                    <th>Status</th>
                    <th>FoodPack Title</th>
                    <th>Start Time</th> 
                    <th>End Time</th> 
                    <th>Full Address</th>
                </tr>
                </thead>  
                <tbody>
               @for(int i=0; i<_reservationModels.Count; i++)
               {
                   ReservationModel reservationModel =  _reservationModels.ElementAt(i);
                   <tr>
                       <td>@reservationModel.Status</td>
                       <td>@reservationModel.FoodPack.Title</td>
                       <td>@reservationModel.FoodPack.StartTime</td>
                       <td>@reservationModel.FoodPack.EndTime</td>    
                       <td>@reservationModel.FullAddress</td>
                   </tr>
               }
                </tbody>
            </table>
        </div>
    </div>
</div>


@code {

    private string errorLabel;
    private List<ReservationModel> _reservationModels = new List<ReservationModel>();
    private string msg = "";
    private int? _active_reservation = 0;
    private SellerModel _seller = null;
    private string _imageURL;


    [Parameter]
    public String email { get; set; }

    private void ReadMore(SellerModel seller)
    {
    }

    protected override async Task OnInitializedAsync()
    {
        try
        {
            _reservationModels = await _reservationService.GetReservationsByCustomerEmail(email);
        }
        catch (Exception e)
        {
            Console.WriteLine(e.Message);
        }
    }

}